<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Parking</title>
</head>
<body>
<div th:each="parkingPoint : ${parking}">
  <p th:text="${parkingPoint.name} + ', address: ' + ${parkingPoint.address}"></p>
  <form th:action="@{'/admin/parking/' + ${parkingPoint.parkingPointId}}" method="get">
    <input type="submit" value="Info"/>
  </form>
</div>
<br>
<form action="/admin/parking/add" method="get">
  <input type="submit" value="add"/>
</form>
<form action="/logout" method="get">
  <input type="submit" value="logout"/>
</form>
</body>
</html>