<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${person.name} + ' ' + ${person.surname}"/>
</head>
<body>
<div>
  <p th:text="'Login: ' + ${person.login}"></p>
  <p th:text="'Name: ' + ${person.name}"></p>
  <p th:text="'Surname: ' + ${person.Surname}"></p>
  <p th:text="'Date of birth: ' + ${#dates.format(person.dateOfBirth, 'dd-MM-yyyy')}"></p>
  <p th:text="'Email: ' + ${person.email}"></p>
  <p th:text="'Balance: ' + ${person.balance}"></p>
</div>
<br>
<form action="/user/change" method="get">
  <input type="submit" value="Change"/>
</form>
<br>
<form action="/auth/home" method="get">
  <input type="submit" value="home"/>
</form>
<br>
</body>
</html>