<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Orders</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<div>
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a th:text="#{home}" class="nav-link" href="/auth/home">Home</a>
        </li>
        <li class="nav-item">
            <a th:text="#{bikes}" class="nav-link" href="/admin/bikes/1">Bikes</a>
        </li>
        <li class="nav-item">
            <a th:text="#{parking}" class="nav-link" href="/admin/parking">Parking</a>
        </li>
        <li class="nav-item">
            <a th:text="#{users}" class="nav-link active" aria-current="page"  href="/admin/users">Users</a>
        </li>
        <li class="nav-item">
            <a th:text="#{orders}" class="nav-link" href="/admin/order_history/1">Orders</a>
        </li>
        <li class="nav-item">
            <a th:text="#{logout}" class="btn btn-warning" href="/logout">Logout</a>
        </li>
    </ul>
    <br>
</div>
<div class="container">
    <div class="row align-items-center">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="d-flex justify-content-center">
                <h4>User Orders</h4>
            </div>
            <div class="d-flex justify-content-center">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Order Date</th>
                        <th scope="col">Order Term</th>
                        <th scope="col">Bike</th>
                        <th scope="col">Order Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}">
                        <td th:text="${#dates.format(order.dateOfBegin, 'dd-MM-yyyy HH:mm:ss')}"></td>
                        <td th:text="${#dates.format(order.endDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                        <td th:text="${order.bike.serialNumber}"></td>
                        <td th:text="${order.status}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center">
                <nav aria-label="...">

                    <ul class="pagination">
                        <li th:if="${page == 1}" class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li th:if="${page > 1}" class="page-item">
                            <a class="page-link" th:href="@{/admin/user/{userId}/order_history/{pageNumber}(userId=${userId}, pageNumber=${page - 1})}">Previous</a>
                        </li>

                        <li th:if="${page == numberPages && page - 2 >= 1}" class="page-item"><a class="page-link" th:href="@{/admin/user/{userId}/order_history/{pageNumber}(userId=${userId}, pageNumber=${page - 2})}" th:text="${page - 2}"></a></li>
                        <li th:if="${page > 1}" class="page-item"><a class="page-link" th:href="@{/admin/user/{userId}/order_history/{pageNumber}(userId=${userId}, pageNumber=${page - 1})}" th:text="${page - 1}"></a></li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" th:href="@{/admin/user/{userId}/order_history/{pageNumber}(userId=${userId}, pageNumber=${page})}" th:text="${page}"></a>
                        </li>
                        <li th:if="${page < numberPages}" class="page-item"><a class="page-link" th:href="@{/admin/user/{userId}/order_history/{pageNumber}(userId=${userId}, pageNumber=${page + 1})}" th:text="${page + 1}"></a></li>
                        <li th:if="${page == 1 && page + 2 <= numberPages}" class="page-item"><a class="page-link" th:href="@{/admin/user/{userId}/order_history/{pageNumber}(userId=${userId}, pageNumber=${page + 2})}" th:text="${page + 2}"></a></li>

                        <li th:if="${page < numberPages}" class="page-item">
                            <a class="page-link" th:href="@{/admin/user/{userId}/order_history/{pageNumber}(userId=${userId}, pageNumber=${page + 1})}">Next</a>
                        </li>
                        <li th:if="${page == numberPages}" class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-warning" th:href="@{/admin/user/{userId}(userId=${userId})}">Return to User page</a>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>